spring.application.name=SecureEstateBackEnd

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASSWORD}

spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}
spring.data.redis.username=${REDIS_USERNAME}
spring.data.redis.password=${REDIS_PASSWORD}

spring.mail.username=${MAIL_USERNAME}
spring.mail.password=${MAIL_PASSWORD}

spring.security.oauth2.client.registration.google.client-id=${GOOGLE_CLIENT_ID}
spring.security.oauth2.client.registration.google.client-secret=${GOOGLE_CLIENT_SECRET}
spring.security.oauth2.client.registration.google.redirect-uri=${GOOGLE_REDIRECT_URI}

groq.api.key=${GROQ_API_KEY}
jwt.secret=${JWT_SECRET}
app.frontend.url=${FRONTEND_URL}
server.port=${PORT:8080}

mpesa.consumer.key=${MPESA_CONSUMER_KEY}
mpesa.consumer.secret=${MPESA_CONSUMER_SECRET}
mpesa.shortcode=${MPESA_SHORTCODE}
mpesa.passkey=${MPESA_PASSKEY}
mpesa.environment=${MPESA_ENVIRONMENT}
mpesa.callback.url=${MPESA_CALLBACK_URL}
mpesa.c2b.confirmation.url=${MPESA_C2B_CONFIRMATION_URL}
mpesa.c2b.validation.url=${MPESA_C2B_VALIDATION_URL}
